# Core Framework
fastapi
uvicorn
python-dotenv
python-multipart

# Database
SQLAlchemy
psycopg2-binary

# Data & Utilities
pydantic
pandas
requests
psutil
Pillow
pytesseract
pytz

# Scraping & Browser
selenium
undetected-chromedriver
webdriver-manager

# Payment & Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Other
anyio
starlette
typing_extensions
numpy
click
dnspython
email-validator
httpcore
httpx
idna
trio
urllib3
certifi
charset-normalizer
beautifulsoup4
